:root {
  --color-primary: #020912;
  --color-secondary: #abffe7;
  --color-tertiary: #030303;
}

@font-face {
  font-family: "Digital-7";
  src: url("assets/fonts/digital-7.ttf") format("truetype");
}

body {
  background-color: var(--color-primary);
  font-family: "Digital-7", monospace;
  letter-spacing: 0.2em;
  font-size: 3rem;
  color: var(--color-secondary);
}
